$main-color-dark2: #243B66;
$main-color-dark: #345594;
$main-color: #5085E6;
$main-color-opacity: #5085e696;
$main-color-light: #8CB4FF;
$bg-color: #111;
$bg-color-light: #eee;
$bg-color-light2: #bbb;


$blue-gradient: linear-gradient(rgba(36, 59, 102, .7), rgba(40, 52, 80, .9));
$black-gradient: radial-gradient(rgba(15, 15, 15, .9), rgba(80, 133, 230, 0.2)),
linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 90%, rgba(0, 0, 0, 1) 98%);

$dark-white: #bbb;
$font-color: #eee;