.burger {
    position: fixed;
    z-index: 2;
    background-color: transparent;
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-size: 40px;
    border: none;
    transition: .4;

    &.active {
        opacity: 0;
    }
}

.mobileNavBG {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;

    &.active {
        animation: .4s bgMobile forwards;
    }

    &.unactive {
        animation: .4s bgMobileback forwards;
    }
}

@keyframes bgMobile {
    0% {
        transform: scale(0);
    }

    1% {

        z-index: 5;
        transform: scale(1);
        background-color: rgba(0, 0, 0, 0);
    }

    100% {

        z-index: 5;
        transform: scale(1);
        background-color: rgba(0, 0, 0, .7);
    }
}

@keyframes bgMobileback {
    0% {

        z-index: 5;
        transform: scale(1);
        background-color: rgba(0, 0, 0, .7);
    }

    99% {

        z-index: 5;
        transform: scale(1);
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0);
    }

}


.nav-top {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: .4s;
    border-bottom: 2px solid $main-color;

    .top {
        background-color: #111;
        height: 100%;
        float: left;
        width: 85%;

        &__ul {
            display: flex;
            flex-direction: column;
            margin: 5em 0;
            height: 30%;
            justify-content: space-around;

            li {
                display: block;
            }
        }

        &__logo,
        li>a {
            cursor: pointer;
            display: block;
            color: white;
            text-decoration: none;
            font-size: 2.4rem;
            padding: 2rem 3rem;
            border-bottom: 2px solid white;
            transition: .4s;

            &:hover {
                color: $main-color;
            }
        }

        &__logo {
            padding: 3rem 3rem;
            font-size: 3rem;
            color: $main-color;
            border-bottom: 2px solid $main-color;
        }
    }

    &.active {
        left: 0;
    }
}

footer {
    width: 100%;
    text-align: center;

    .footer {


        &-text {
            color: $font-color;
            padding: .5rem;
        }

        &__copyright {
            background-color: #111;

        }

        &__misc {
            background: linear-gradient(#111, #444d, #111);
            color: $font-color;
        }

        &__contacts {
            display: flex;
            padding: 1rem;
            justify-content: space-around;
            font-size: 2.2em;

            a {
                text-decoration: none;
                color: white;
                transition: .2s;

                &:hover {
                    color: $main-color;
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width: 300px) {
    h2 {
        letter-spacing: 0;
    }
}

@media(min-width: 500px) {
    .nav-top {
        .top {
            width: 75%;
        }
    }
}

@media (min-width:992px) {
    .burger {
        display: none;
    }

    .nav-top {
        left: unset;
        background-image: none;
        background-color: #111;
        height: 8rem;
        padding: 0;

        .top {
            float: none;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__logo {
                display: flex;
                border: none;
                justify-content: center;
                align-items: center;
                padding: 5rem 0;
            }

            &__ul {
                flex-direction: row;
                justify-content: center;
                align-items: center;

                li>a {
                    text-align: center;
                    padding: 2.2rem;
                    width: 100%;
                    border: none;
                }
            }
        }
    }

    .footer {
        font-size: 2rem;
    }
}