.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.section-header{
    font-size: 2.6em;
    text-align: center;
    padding: 1.8em;
    letter-spacing: .1em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.off{
    display: none;
}

a.toTop{
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: $black-gradient;
    border-radius: 50%;
    color: whitesmoke;
    font-size: 25px;
    text-decoration: none;
    animation: btnToTop 6s forwards infinite;
    opacity: 0;
    transition: .5s;
}
@keyframes btnToTop{
    0%{transform: translateY(0);}
    77%{transform: translateY(0)}
    80%{transform: translateY(-16%)}
    85%{transform: translateY(16%)}
    90%{transform: translateY(-16%);}
    95%{transform: translateY(16%);}
    98%{transform: translateY(0);}
}

@media (min-width:768px){
    .section-header{
        font-size: 3rem;
    }
}