*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@import '__colors.scss';
body{
    width: 100%;
    background-color: $bg-color;
}

@import '__mixins.scss';
@import '__components.scss';
@import '__contact.scss';

//NAV__BAR 
$navi-height: 65px;
.logo{
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
    i,h1{
        display: inline;
        font-size: 2.8rem;
    }
}
.navi{
    display: flex;
    height: $navi-height;
    align-items: center;
    justify-content: space-between;
    nav.desktop{
        display: none;
    }
    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
        height: $navi-height / 1.4;
        width: $navi-height / 1.4;
        background-color: $bg-color;
        opacity: .85;
        position: fixed;
        right: 8px;
        border-radius: 50%;
        z-index: 1;
        i{
            font-size: 2.8em;
        }
    }

}
nav.mobile.active{
    display: fixed;
    top: 0;
}

nav.mobile{
    transition: .4s;
    position: fixed;
    left: 0;
    top: -100vh;
    display: block;
    height: 100vh;
    width: 100%;
    background-color: #ddd;
    z-index: 1000;
    .fa-times{
        position: absolute;
        top: 22px;
        right: 22px;
        font-size: 4rem;
    }
    .logo{
        text-align: center;
        margin: 1em auto;
    }
    .actives{
        list-style-type: none;
        width: 100%;
        text-align: center;
        li{
            display: block;
            a{
                display: block;
                width: 100%;
                padding: 2em 5em;
                font-size: 2em;
                background-color: black;
                text-decoration: none;
                color: white;
                font-family: 'Open-Sans', sans-serif;
            }
        }
    }
}
//MAIN PHOTO
.head{
    @include heroImage('/dist/img/jungle640.jpg');
    &__img{
        position: relative;
        background-position: center;
        height: 300px;
    }
    &__texts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 2em;
        color: rgb(255, 255, 255);
    }
    &__title{
        font-size: 1.3em;
        padding: 1;
        font-weight: 600;
        margin-bottom: .3em;
        font-family: 'Open Sans', sans-serif;
    }
    &__text{
        font-size: 1.6em;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
}


// SECTION ABOUT FIRM
.about{
    &__img{
        width: 100%;
        transition: .5s;
        overflow: hidden;
        &:hover{
            transform: scale(1.01);
        }
    }
    &__text{
        padding: 1.2em;
        &-title{
            font-size: 1.6em;
            margin-bottom: .6em;
            font-family: 'Open-Sans', sans-serif;
        }
        &-text{
            font-family: 'Raleway', sans-serif;
            font-size: 1.3em;
            line-height: 1.6em;
        }
    }   
}

// PICTURE

.journey{
    @include heroImage("/dist/img/girl1920.jpg");
    width: 100%;
    min-height: 300px;
    margin: 3em 0;
    position: relative;
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em 2em;
        line-height: 2em;
        color: white;
        font-size: 2rem;
        border: 1px solid white;
        text-align: center;
        min-width: 75%;
        font-family: 'Open-Sans', sans-serif;
    }
}

//OFFERS

.offer{
    &__text{
        text-align: center;
        font-size: 2em;
        font-family: 'Raleway', sans-serif;
    }

    .cards{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        .card{
            border-radius: 8px;
            margin: 3em auto;
            width: 75%;
            box-shadow: 0 0 15px #3e3e3e3e;
            transition: .4s;
            &:hover{
                box-shadow: 0 0 15px #1e1e1e;
                .card-btn{
                    background-color: #111;
                    color: #eee;
                }
            }
            &-title{
                font-size: 2em;
                padding: .5em
            }
            &-price{
                font-size: 5em;
                font-weight: 700;
                padding: .8em;
            }
            &-list{
                text-align: center;
                list-style: none;
                li{
                    padding: 0.2em;
                    font-size: 1.6em;
                    color: grey;
                    &.included{
                        color: green;
                        font-weight: bold;
                    }
                    i{
                        font-size: 1.2em;
                    }
                }
            }
            &-btn{
                width: 50%;
                border: none;
                padding: 1em 2em;
                margin: 1em;
                border-radius: 6px;
                transition: .4s;
                cursor: pointer;
            }
        }
    }
}

////////////////
//FOOTER

.footer{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ddd;
    &__top-hided{
        display: none;
    }
    &__bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid #aaa;
        background-color: #ddd;
        font-family: 'Raleway', sans-serif;
        &-text{
            padding: 1em;
        }
    }
    &__top-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/////////////////
// MEDIA QUERIES!
@media (min-width:576px){
    .head{
        &__title{
            font-size:1.8rem;
        }
        &__text{
            font-size: 2.4rem;
        }
    }
}

@media (min-width:768px){
    $navi-height: 80px;
    nav.mobile{
        display: none;
    }
    .navi{
        background-color: $bg-color;
        overflow: hidden;
        height: $navi-height;
        transition: .3s;
        .logo{
            h1{
                font-size: 3.3em;
            }
            i{
                font-size: 3.3em;
            }
        }
        .burger{
            display: none;
        }
        nav.desktop{
            display: block;
            ul{
                list-style: none;
                display: flex;
                li{
                    a{
                        padding: 2em 1.2em;
                        color: black;
                        background-color: $bg-color;
                        text-decoration: none;
                        font-size: 2em;
                        transition: .3s;
                        &.active{
                            background-color: black;
                            color: white;
                        }
                        &:hover{
                            background-color: rgb(30, 30, 30);
                            color: white;
                        }
                    }
                }
            }
        }
    }
    
    .wrapper-navi{
        width: 100%;
        background-color: $bg-color;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        transition: .3s;
        &.distance{
            opacity: 0.9;
            .navi{
                opacity: 0.9;
                height: 50px
            }
        }
    }
    
    
    .head{
        margin-top: $navi-height;
        @include heroImage('/dist/img/jungle1920.jpg');
        &__img{
            height: 400px;
        }
        &__title{
            font-size: 2rem;
        }
        &__text{
            font-size: 2.8rem;
        }
    }
    .about{
        .wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__img{
            display: inline-block;
            width: 49%;
            height: 50%;
        }
        &__text{
            width: 49%;
            padding: 0 0;
            line-height: 2em;
            &-title{
                font-size: 2rem;    
            }
            p{
                padding: 1rem 0;
                font-size: 1.4rem;
            }
        }
        
    }
    .journey{
        p{
            font-size: 2.6;
            padding: 2em 2em;
        }
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        .card{
            flex-basis: 35%;
        }
    }
    .footer{
        &__top{
            display: flex;
            justify-content: space-evenly;
            &-logo{
                flex-grow: 1000;
            }
        }
        &__top-hided{
            display: flex;
            flex-basis: 50%;
            justify-content: space-around;
            align-items: flex-start;
            margin: 2em 5em 1em 2em;
        }
        &__top-list{
            &-name{
                font-size: 2.2rem;

                font-weight: 800;
                
            }
            ul{
                list-style: none;
                margin: 1em 0;
                li{
                    padding: .8em 0;
                    a{
                        text-decoration: none;
                        color: #666;
                        font-size: 1.4em;
                        cursor: pointer;
                        padding: 0.1em 0;
                        font-family: 'Raleway', sans-serif;
                    }
                }
            }
        }
    }
}

@media (min-width:900px){
    .cards{
        justify-content: space-between;
        .card{
            flex-basis: 30%;
            max-width: 300px;
        }
    }
    .about{
        &__text{
            &-title{
                font-size: 2.4rem;
            }
            p{
                font-size: 1.6rem ;
            }
        }
    }
    .journey{
        margin: 14em 0 9em;
        min-height: 450px;
        p{
            font-size: 3rem;
            letter-spacing: .1em;
            padding: 3em 2em;
        }
    }
}
@media(min-width: 1200){
    .cards{
        .card{
            flex-basis: 27%;
        }
    }
}