*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgcolor: linear-gradient(90deg, rgb(22, 143, 199), rgb(214, 244, 255));
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

/*    NAVBAR     */

.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
    background: var(--bgcolor);
    border-bottom: 1px solid black;
    box-shadow: 0 0 14px black;
}
.logo i{
    margin-right: .5rem;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    padding: .5rem 1rem;
    transition: .4s;
    cursor: pointer;
    margin: 1rem;
    z-index: 2;
    font-size: .6em;
}
button.add i{
    color: green;
}
button.delete_all i{
    color: crimson;
}
button.add::after, button.delete_all::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0%,-50%);
    background-color: rgba(128, 128, 128, 0.300);
    box-shadow: 0 0 6px darkgrey;
    border-radius: 1000px;
    height: 3rem;
    width: 3rem;
    transition: .4s;
    z-index: -13;
}

button.add:hover::after, button.delete_all:hover::after,button.add:focus::after, button.delete_all:focus::after{
    width: 100%;
    background-color: rgba(78, 78, 78, 0.900);
}
button.add:hover, button.delete_all:hover, button:hover i,button.add:focus, button.delete_all:focus, button:focus i{
    color: white;
}
button i{
    font-size: .8em;
    margin-right: 1.5rem;
    transition: .4s;
}
button:hover i, button:focus i{
transform: rotate(360deg);
}

/* POP-UP */

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .4s;
    box-shadow:  0 0 15px black;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid black;
    background: linear-gradient( rgb(22, 143, 199), rgb(214, 244, 255));
}
.popup.active{
    transform: translate(-50%, -50%) scale(1);
}
form{
    font-family: 'New Tegomin', serif;
    text-align: center;
    padding: 1.6rem;
    font-weight: 600;
}
.form__field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.warning{
    color: red;
}

textarea{
    padding: 0.5rem;
    min-width: 200px;
    max-width: 400px;
    min-height: 75px;
    max-height: 150px;
}
.submit{
    font-size: 1.8rem;
    background-color: #2229;
    color: #fff;
    margin: 1rem auto;
    box-shadow: 0 0 5px black;
    padding: 1rem 2rem;
    transition: .3s;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.submit:hover{
    background-color: #222d;
}
/* NOTES */

.notices{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.note{
    width: 21.9vw;
    height: 21.9vw;
    background-color: cornflowerblue;
    margin: 1rem;
    box-shadow: 0 0 5px black;
    overflow: hidden;
}
.work{
    background-color: rgb(22, 143, 199);
}
.shopping{
    background-color: greenyellow;
}
.home{
    background-color: yellow;
}
.note__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.300);
}
.note__text{
    padding: 1rem;
    max-lines: 5;
}
.UIopt{
    float: right;
}
.UIopt i:first-of-type{
    margin-right: 1rem;
}
.UIopt i{
    cursor: pointer;
    transition: .4s;
}
.UIopt i:hover, .UIopt i.active{
    cursor: pointer;
    color: white;
}
