* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(241, 241, 241), #555);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: linear-gradient(-45deg, #333, #555);
    text-align: center;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 1rem;
}

.exchanger {
    display: flex;
    /* flex-direction: column; */
}

@media (max-width: 756px) {
    .container {
        width: 100%;
        border-radius: 0;
    }


    .exchanger {
        display: flex;
        flex-direction: column;
    }

    .exchanger div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .exchanger .cashout {
        order: 1;
    }

    div.center button {
        transform: rotate(90deg);
        margin: 0;
    }
}

.exchanger div input {
    display: flex;
    width: 100%;
}

.exchanger div {
    padding: 1rem;
}

.cash {
    display: flex;
    text-align: center;
    font-size: 2rem;
    border: none;
    color: white;
    background-color: #222;
    padding: 1rem;
}

.currency {
    margin: 1rem;
    padding: 1rem;
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
    border: none;
}

.currency option,
.currency option {
    color: black;
}

.currency option:disabled {
    background-color: darkgrey;
}

.currency option:checked {
    background-color: steelblue;
}

.center {
    display: flex;
    align-items: flex-end;
}

.replace {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
}

.rate {
    font-size: 1.2em;
    padding: 1rem;
}