* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(241, 241, 241), #555);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #333, #555);
    text-align: center;
    color: white;
    padding: 1rem;
    border-radius: 15px;
}

h1 {
    padding: 1rem;
}

.exchanger {
    display: flex;
}

.exchanger div {
    padding: 1.5rem;
}

.cash {
    display: block;
    text-align: center;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    background-color: #222;
    padding: 1rem;
    border-radius: 6px;
    width: 100%;
}

.currency {
    margin: 1rem;
    padding: 1rem;
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
    border: none;
}

.currency option,
.currency option {
    color: black;
}

.center {
    display: flex;
    align-items: flex-end;
}

.replace {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
}

.rate {
    font-size: 1.2em;
    padding: 1rem;
}

@media (max-width: 900px) {
    .cash {
        width: 45vw;
    }
}